body {
    font-size: 1.4rem;
}
.header__top {
    background-color: #F3F3F3;
}
.header__info {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    background-color: #F3F3F3;
}
.header__info-activate {
    display: inline-flex;
    font-size: 1.3rem;
}
.header__info-icon {
    color: #63C974;
    font-size: 2.5rem;
    margin-right: 5px;
}
.header__info-open {
    font-weight: 300;
}
.header__info-list {
    display: flex;
    list-style-type: none;
    align-items: center;
    margin: 0;
}
.header__info-item {
    display: inline-flex;
    margin-left: 20px;
    align-items: center;
    height: 100%;
}
.header__info-item-link {
    font-size: 1.3rem;
    text-decoration: none;
    color: #212529;
}
.header__info-item-link:hover {
    color: #63C974
}
.header__info-item-btn {
    font-size: 1.3rem;
    background-color: #4FC362;
    text-decoration: none;
    color: #fff;
    padding: 8px;
}
.header__info-item-btn:hover {
    background-color: rgba(79, 195, 98, 0.719);
}
/* Nav bar */
.header__navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header_navbar-list {
    display: flex;
    list-style-type: none;
}
.header__logo-img {
   height: 60px;
}
.header__navbar-item {
    margin-right: 30px;
}
.header__navbar-item-link {
    word-wrap: none;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color)
}
.header__navbar-item-icon {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 200;
}
/* container */
.col-4 {
    width: 32%;
    box-shadow: 1px 1px 100px 1px #ddd;
    margin-bottom: 50px;
    margin-top: 20px;
    border-radius: 5px;
}
.col-4:hover {
    background-color: #59ca6d;
    color: #fff;
    transition: 0.5s;
}
.col-4:hover .col-4__link, p{
    color: #fff;
}
.col-4:hover  .col-p{
    color: #fff;
}
.col-4__wrap {
    padding: 35px 20px;
    text-align: center;
}
.col-4__icon {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    line-height: 80px;
    border: 1px solid #4FC362;
    background-color: #fff;
    border-radius: 50%;
}
.col-4__icon-img {
    position: absolute;
    width: 55px;
    height: 55px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.col-4__title {
    font-size: 2rem;
    font-weight: 500;
}

.col-p {
    word-wrap: break-word;
    color: #777;
    font-weight: 300;
}
.col-4__link {
    color: #4FC362;
    text-decoration: none;
    font-weight: 400;
}
 
.col-6 {
    width: 50%;
}
.col-6-img {
    width: 550px;
}
.col-6-title , .col-title{
    color: #4FC362;
}
.col-6-h3 {
    font-size: 3.4rem;
    line-height: 4.8rem;
    margin: 5px 0 10px 0;
}
.col-6 ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.col-6 ul li {
    color: rgba(119, 119, 119, 0.800);
    font-weight: 500;
    padding: 4px 0;
    flex: 0 0 50%;
}
.col-6-icon {
    font-size: 2rem;
    color: #4FC362;
    margin-right: 5px;
}
.col-6-btn {
    min-width: 170px;
    background-color: #4FC362;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    outline: none;
}
.col-6-btn:hover {
    background-color: #fff;
    border: 1px solid #4FC362;
    color: #4FC362;
    transition: .5s;
}
/* 4 why */
.col-6__why {
    display: flex;
    align-items: center;
}
.col-6__why-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.col-6__why-content {
    margin-top: 0;
}
.col-6__why-content-title{
    color: #4FC362;
    font-weight: 500;
    margin: 5px 0;
}
.col-6__why-content-p {
    margin: 5px 0;
    color: #777;
    padding: 4px 0;
    font-weight: 300;
}
.col-1 {
    margin: auto;
    text-align: center;
    max-width: 620px;
}

.service {
    background-image: url(../img/service_bg.png);
    padding-top: 40px;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 400px;
    background-color: rgba(255,255,255,0.7);
    background-blend-mode: overlay;
}
.service-4 {
    width: 32%;
    border-radius: 10px;
    border: 2px solid #f6f6f6;
    padding: 50px 30px;
    padding-top: 0;
    transition: .5s;
    margin-bottom: 70px;
}
.service-4:hover {
    transform: translateY(-10px);
    transition: .5s;
    box-shadow: 1px 1px 20px 1px #ddd;
}
.service__wrap{
    text-align: center;
    position: relative;
}
.service__icon {
    margin: 0 auto;
    position: relative;
    top: -37.5px;
    width: 75px;
    height: 75px;
    background-color: #4FC362;
    border-radius: 50%;
}
.service__icon-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    width: 55px;
    height: 55px;
    margin: auto;
}
.service__title {
    font-size: 2rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.chart {
    background-color: #59ca6d;
}
.chart__detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.chart__detail-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
.chart__detail-content h3{
    font-size: 3.5rem;
    color: white;
    margin: 0px;
}
.chart__detail-content p{
    margin: 0;
}